In [16]:
import pandas as pd
pandas.__version__
import os
os.getcwd()

NameError: name 'pandas' is not defined

In [7]:
Data = pd.read_csv(r'C:\Users\HP\Downloads\Csvfiles\carsales.csv')
Data.head(4)
Data.tail(4)
Data.dtypes

NameError: name 'pd' is not defined

In [118]:
Data.shape

(6, 5)

In [6]:
#Copied file
x = Data.copy()
x.head()

NameError: name 'Data' is not defined

In [121]:
x.columns

Index(['Manufacturer', 'Men', 'Women', 'T.G', 'NO. of cars'], dtype='object')

In [122]:
x.columns = ['a','b','c','d','e']
x.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [123]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       6 non-null      object
 1   b       6 non-null      object
 2   c       6 non-null      object
 3   d       4 non-null      object
 4   e       4 non-null      float64
dtypes: float64(1), object(4)
memory usage: 368.0+ bytes

In [5]:
#analysis of numerical data

x.describe()

NameError: name 'x' is not defined

In [126]:
x.drop('c',axis=1, inplace = True)
x.head()

          a       b      d       e
0      Fiet   3.00%    NaN  100.00
1      Ford  39.00%  2.80%  270.00
2       BMW  21.00%  3.00%    0.85
3  Mercedes   6.00%  0.56%     NaN
4  Vauxhall  19.00%    NaN     NaN

In [127]:
#For accessing a particular column

x.b

0     3.00%
1    39.00%
2    21.00%
3     6.00%
4    19.00%
5    12.00%
Name: b, dtype: object

In [4]:
x['b']

NameError: name 'x' is not defined

In [129]:
#For accessing the data rows

print(x.loc[2:5])

          a       b      d       e
2       BMW  21.00%  3.00%    0.85
3  Mercedes   6.00%  0.56%     NaN
4  Vauxhall  19.00%    NaN     NaN
5    Nissan  12.00%  0.10%  190.00

In [130]:
#To access a desired range of data

x.iloc[2:4,2:6]

       d     e
2  3.00%  0.85
3  0.56%   NaN

In [131]:
print(x.isnull().sum())

a    0
b    0
d    2
e    2
dtype: int64

In [132]:
import numpy as np
x.iloc[2:6,4:5]
print(x.head(10))

          a       b      d       e
0      Fiet   3.00%    NaN  100.00
1      Ford  39.00%  2.80%  270.00
2       BMW  21.00%  3.00%    0.85
3  Mercedes   6.00%  0.56%     NaN
4  Vauxhall  19.00%    NaN     NaN
5    Nissan  12.00%  0.10%  190.00

In [135]:
#This command will put the mean value but here the values are in %age so it will show type error


x.e.fillna(x.e.mean(),inplace = True)
print(x.head(6))

          a       b        d         e
0      Fiet   3.00%  140.213  100.0000
1      Ford  39.00%    2.80%  270.0000
2       BMW  21.00%    3.00%    0.8500
3  Mercedes   6.00%    0.56%  140.2125
4  Vauxhall  19.00%  140.213  140.2125
5    Nissan  12.00%    0.10%  190.0000

In [136]:
print(x[x.e>1])
print(x[x.e>1].describe())

          a       b        d         e
0      Fiet   3.00%  140.213  100.0000
1      Ford  39.00%    2.80%  270.0000
3  Mercedes   6.00%    0.56%  140.2125
4  Vauxhall  19.00%  140.213  140.2125
5    Nissan  12.00%    0.10%  190.0000
                e
count    5.000000
mean   168.085000
std     65.299797
min    100.000000
25%    140.212500
50%    140.212500
75%    190.000000
max    270.000000

In [141]:
def change(text):
    if text == 'Fiet':
        return 69520
    elif text == 'Ford':
        return 615184
    elif text == 'Mercedes':
        return 135183
    elif text == 'Vauxhall':
        return 22121248
    else:
        return 14919
    
x['a'] = x.a.apply(change)
x.head(6)

          a       b        d         e
0     69520   3.00%  140.213  100.0000
1    615184  39.00%    2.80%  270.0000
2     14919  21.00%    3.00%    0.8500
3    135183   6.00%    0.56%  140.2125
4  22121248  19.00%  140.213  140.2125
5     14919  12.00%    0.10%  190.0000

In [143]:
#ADD ROWS AND COLUMN AND SAMPLE POINT

x.iloc[0] = ['Fiet',1800,1100,100]
x.head(5)

          a       b        d        e
0      Fiet    1800     1100      100
1    615184  39.00%    2.80%      270
2     14919  21.00%    3.00%     0.85
3    135183   6.00%    0.56%  140.213
4  22121248  19.00%  140.213  140.213

In [154]:
import random
x['New Column'] = random.randrange(9)
x.head()

          a       b        d        e  New Column
0      Fiet    1800     1100      100           1
1    615184  39.00%    2.80%      270           1
2     14919  21.00%    3.00%     0.85           1
3    135183   6.00%    0.56%  140.213           1
4  22121248  19.00%  140.213  140.213           1

In [172]:
#FOR INSERTING A COLUMN AT GIVEN POSITION

#x.insert(2, 'Vers Sports as 1 else 0','Default')
x.head()

          a       b  Vers Sports as 1 else 0        d        e  New Column
0      Fiet    1800                        0     1100      100           1
1    615184  39.00%                        0    2.80%      270           1
2     14919  21.00%                        0    3.00%     0.85           1
3    135183   6.00%                        0    0.56%  140.213           1
4  22121248  19.00%                        0  140.213  140.213           1

In [173]:
s = pd.Series(list('abacd'))
s

0    a
1    b
2    a
3    c
4    d
dtype: object

In [174]:
dummy_data = pd.get_dummies(s)
print(dummy_data)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  1  0  0  0
3  0  0  1  0
4  0  0  0  1